@charset "utf-8";

html, body, h1,h2,h3,ul,ol,li,a,p{
    margin: 0;
    padding: 0;
}

ul, ol{

    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


.inbox{
    max-width: 1000px;
    margin: 0 auto;
}
