html,body,h1,h2,h3,ul,li,ol,button{
  /* 각태그 초기화 */
  margin: 0;
  padding: 0;
  border: none;
}

li{
  /* 리스트 블릿제거 */
  list-style: none;
}

body{
  /* 배경색 및 뷰단위 */
  height: 100vh;
  background-color: gray;
}

body *{
  /* 임시공사중 */
  outline: 1px solid red;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^초기화 영역^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}






