@charset "urf-8";

body *{
    /* outline:  1px solid red; */
}

body{
    background-color: gray;
}

html,body{
    margin: 0;
    padding: 0;
}

.test{
    text-align: center;
}

.point{
    position: relative;
    
}

.point::after{
    content: "";
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    
}

/* .layout{
    background-color: black;
    height: 2px;
    color: red;
    
}

.content{
    background-color: red;
    height: 5px;
} */
